%container {
  padding: 15px;
  margin: 0 auto;
}

%flex-container {
  display: flex;
  align-items: center;
}

%subtitles {
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
}

%link {
  color: #000;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
