<div class="bg-image">
    @if (article) {
    <img [src]="article.image_url" alt="" srcset="">
    <div class="container article-container">
        <div class="article-title">{{article.title}}</div>
        <div class="article-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dicta mollitia
                dignissimos recusandae rerum
                odit accusamus. Tenetur, fuga corrupti eveniet soluta quas eum officia voluptate vel! Et voluptatibus
                fugit
                earum.</p>
            <p>Quo, commodi, distinctio laborum tenetur neque libero ad expedita veritatis, eligendi dolores sunt nulla
                amet hic suscipit accusantium eveniet alias! Eaque ullam qui sint delectus et repudiandae voluptatum
                doloremque ipsa! </p>
            <p>Veniam error nisi illo consequatur atque quos harum molestiae reiciendis deleniti inventore quibusdam
                perspiciatis odio dolores, quae aperiam unde, ea nobis quam id reprehenderit. Voluptatibus, error. Odio
                voluptatum voluptatibus dolore.</p>
            <p>Mollitia adipisci, illo inventore harum assumenda accusamus voluptatibus dolorem necessitatibus
                asperiores
                ab nostrum rem animi recusandae commodi sapiente vitae id unde magni, dicta, nihil dolore sunt qui!
                Aspernatur, ullam veniam!</p>
            <p>Minus doloremque provident pariatur debitis ducimus cum at porro soluta, hic similique sit suscipit odit
                dolorum. Molestias illum labore, ut corporis placeat ullam repellat! Laboriosam, reiciendis. Deleniti
                perspiciatis officiis a?</p>
            <p>Eveniet expedita ex corporis laudantium? Iste amet beatae, cupiditate nisi non asperiores alias a vitae
                sed
                quae deleniti id quas, doloribus laudantium maiores veniam. Dignissimos neque nemo deserunt quibusdam
                ex!
                Vitae ad asperiores quo distinctio iure. In delectus, doloribus dignissimos deleniti ducimus sint
                inventore
                deserunt rerum voluptas, error nam magni quia nobis sed. Aut dicta eius veniam! Modi, nesciunt ipsum.
                Porro, harum voluptatum! Suscipit provident voluptates perspiciatis omnis dolore molestias, quo, nulla
                porro
                unde voluptatum sed doloribus quaerat, itaque rem ea quae atque tempora ex magnam non culpa officiis
                fuga?
                Dignissimos ipsum eius consequuntur voluptates accusamus! Molestias repellat magnam rerum modi libero
                deserunt illum aperiam sit odit sint velit voluptatem, culpa provident. Sequi voluptatem animi expedita
                eos
                porro quidem error!</p>
            <p>Eos, sapiente asperiores minima natus magni dolor aut eveniet quas ipsa impedit saepe sint enim error
                tempora! Vel excepturi obcaecati doloremque debitis, tenetur est? Perferendis voluptatem minus culpa vel
                veritatis?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora repellat fugit culpa similique, veniam
                cum
                sunt illum repudiandae debitis inventore, laboriosam iste fuga corrupti cumque neque eius, suscipit
                perferendis quibusdam.</p>
            <p>Dolor fugit ipsa eaque, commodi quibusdam beatae facilis nulla fugiat, voluptate exercitationem officia
                nisi, non delectus asperiores. Quisquam voluptate natus nulla quaerat, beatae fugiat corrupti assumenda
                iusto, et obcaecati mollitia.</p>
            <p>In illo quis fugiat id fugit, ex dolorum officiis maiores sint itaque saepe repellat repellendus ipsam
                architecto doloribus sed facere omnis vitae? Error laboriosam cupiditate, assumenda maiores amet omnis
                quaerat.</p>
            <p>Quaerat soluta quasi rem nemo impedit odio delectus ratione explicabo vitae nesciunt doloribus
                accusantium
                magni aliquid nam sequi eaque sint laboriosam inventore, aut fugit nobis non? Perspiciatis aliquid
                officia
                doloribus!</p>
            <p>Soluta rem pariatur, error ea culpa minus nam voluptas sed. Perspiciatis ipsam officiis accusamus quod?
                Aspernatur vero architecto magnam tenetur. Aliquam, enim dolor ut magnam aliquid assumenda ipsa amet
                cumque.
                Aliquam rem, tempora quaerat magnam quod iste reiciendis architecto eligendi! Repudiandae, distinctio
                natus
                cum vitae laborum facere facilis ratione quod quae sed magnam alias optio provident assumenda ipsam nisi
                a?
                Nostrum odit autem voluptatem. Quaerat magnam mollitia qui, suscipit vitae impedit dolorem eveniet
                nostrum
                inventore possimus iure assumenda temporibus debitis accusamus vero doloribus repellat maxime, error
                aspernatur illo quibusdam sequi!</p>
        </div>
        <div class="back-link">
            <mat-icon>arrow_back</mat-icon>
            <a [routerLink]="['/']">Back to homepage</a>
        </div>
    </div>
    }
</div>